@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DreamJob!</h1>
    <p>Find your dream job or hire the best candidates!</p>
    <p>Register now and start your journey!</p>

</div> 