html {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

form {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    form label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    form input {
        margin-bottom: 15px;
        
    }

    .description-box input{
        height: 200px;
        width: 500px;
    }


#greeting {
    margin-left: auto;
}

    #greeting a {
        margin: 0;
    }

textarea{
    width: 100%;
    height: 200px;

}


/* Style for the carousel */


.button-like {
    background-color: red;
    border: none;
    padding: 10px;
    font-size: 1em;
    color: red;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

    .button-like i {
        margin: 0;
    }

    .button-like:hover {
        background-color: darkred;
    }

.carousel-control-prev {
    background-color: red;
    opacity: 0.5;


}

.carousel-control-next {

    background-color: red;
    opacity: 0.5;

}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: red;
}

.card-body{
   margin: auto;
   width: 50%;


}

.card{
    margin: 10px;
    width: 100%;
}

.card-title{
    font-size: 1.5em;
}

.card-text{
    font-size: 1em;
}

.carousel-inner{
    width: 100%;
    height: 100%;
}


.hidden{
    display: none;
}