@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model DreamJob.BusinessLogic.Employers.ViewModels.RegisterViewModel

<h1>
    Register as an employer 
</h1>

<form asp-action="Register" asp-controller="Employer">

    <div>
        <label asp-for="EmployerName">Name</label>
        <input asp-for="EmployerName"/>
    </div>

     <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email"/>
    </div>

    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password"/>
    </div>

    <div>
        <label asp-for="ConfirmPassword">Confirm your password</label>
        <input asp-for="ConfirmPassword" />
    </div>

    <div>
        <label asp-for="OfficeLocation">Office Location</label>
        <input asp-for="OfficeLocation"/>
    </div>

    <div>
        <div class="description-box">
        <label asp-for="EmployerDescription">Description</label>
        <input asp-for="EmployerDescription" />
        </div>
    </div>

    <div>
        <label asp-for="EmployerLinkedin">Linkedin</label>
        <input asp-for="EmployerLinkedin" />
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
        if(ViewData.ModelState[string.Empty] != null)
        {
            <div class="errror-summary">
                @foreach (var error in ViewData.ModelState[string.Empty].Errors)
                {
                    <div class="error-item text-danger">
                        @error.ErrorMessage
                    </div>
                }
            </div>
        }
    }

    <div>
        <input type="submit" value="Register" class= "btn btn-primary"  />
    </div>

    <div>
        <a asp-action="Login" asp-controller="Login">Back</a>
    </div>
</form>