
@{
}

@model DreamJob.BusinessLogic.Users.ViewModels.LoginViewModel;


<h1>
    Login
</h1>

<form asp-controller="User" asp-action="Login">
    <div class="form-control">
        <label asp-for="Email">Email</label>
        <input asp-for="Email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-control">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    @if (!ViewData.ModelState.IsValid)
    {
        if (ViewData.ModelState[string.Empty] != null)
        {
            <div class="errror-summary">
                @foreach (var error in ViewData.ModelState[string.Empty].Errors)
                {
                    <div class="error-item text-danger">
                        @error.ErrorMessage
                    </div>
                }
            </div>
        }
    }

    <div>
        <input type="submit" value="Login"/>
    </div>
</form>