@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model DreamJob.BusinessLogic.JobOffer.ViewModels.CreateJobOfferViewModel;



<form asp-action="AddJobOffer" asp-controller="JobOffer">
    <div>
        <label asp-for="Salary"> Salary</label>
        <input asp-for="Salary"/>
    </div>

     <div>
        <label asp-for="JobDescription"> Job Description </label>
        <input asp-for="JobDescription"/>
    </div>

    <div>
        Select a skill:
        @foreach (var skill in Model.SelectedSkills)
        {
            <input type="checkbox" name="SelectedSkills" value="@skill.Value" />  @skill.Text
        }




    </div>

    <div>
        <input type="submit" value="Save"/>
    </div>

</form>

