@model DreamJob.BusinessLogic.JobOffers.ViewModels.DisplayJobOffersViewModel;

<div class="row">
    @foreach(var jobOffer in Model.JobOffersViewModel)
    {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Name : @jobOffer.Description</h5>
                    <p class="card-text">Employer  : @jobOffer.EmployerName</p>
                    <p class="card-text">Office Location : @jobOffer.OfficeLocation</p>
                    <p class="card-text">Salary : @jobOffer.Salary</p>
                    <a href="#" class="btn btn-warning">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
